################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculatorServer/Debug
/CalculatorServer/CalculatorServer.vcxproj.user
**/Debug
**/Release
**/x64
**/obj
/packages